{
    "printWidth": 140,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "quoteProps": "as-needed",
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "singleAttributePerLine": false,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "embeddedLanguageFormatting": "auto",
    "objectWrap": "preserve",
    "experimentalTernaries": false,
    "insertPragma": false,
    "requirePragma": false
}
